<div *ngIf="client">
    <p>
        <label>{{client.name}}</label>
    </p>
    <p>
        <label>{{client.firstName}}</label>
    </p>
    <p>
        <label>{{client.address}}</label>
    </p>
    <p>
        <label>{{client.zipCode}}</label>
    </p>
    <p>
        <label>{{client.city}}</label>
    </p>
    <p>
        <label>{{client.country}}</label>
    </p>
    <p>
        <label>{{client.phone}}</label>
    </p>
    <p>
        <label>{{client.email}}</label>
    </p>
    <p>
        <label>{{client.gender}}</label>
    </p>
    <p>
        <label>{{client.login}}</label>
    </p>
    <p>
        <label>{{client.password}}</label>
    </p>
    <p>
        <label>{{client.passwordValidation}}</label>
    </p>
</div>